# Ignore everything by default
/*

# But do not ignore these specific folders
!Part_0/
!Part_1/
!Part_2/
!Part_3/
!Part_4/
!Part_5/

# Inside these folders, ignore any 'data' directory
Part_0/data/
Part_1/data/
Part_2/data/
Part_3/data/
Part_4/data/
Part_5/data/

# Ignore large model files
Part_4/outputs/P4_Unit15_Example_Mining/models/example_rf_model.joblib

# Also track .gitignore itself
!.gitignore
